# If you want Electrum to appear in a Linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum.desktop
# Note: This assumes $HOME/.local/bin is in your $PATH

[Desktop Entry]
Comment=Lightweight Bitnet_IO Client
Exec=electrum %u
GenericName[en_US]=Bitnet_IO Wallet
GenericName=Bitnet_IO Wallet
Icon=electrum
Name[en_US]=Electrum Bitnet_IO Wallet
Name=Electrum Bitnet_IO Wallet
Categories=Finance;Network;
StartupNotify=true
StartupWMClass=electrum
Terminal=false
Type=Application
MimeType=x-scheme-handler/bitcoin;x-scheme-handler/lightning;
Actions=Testnet;

[Desktop Action Testnet]
Exec=electrum --testnet %u
Name=Testnet mode
